* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header img {
    height: 85px;
    width: auto;
}

.header {
    background-color: #bfbfbf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 5px 10%;
    border-bottom: 1px solid #000;
    position: fixed;
    width: 100%;
}

.nav-link {
    float: left;
    padding: 0 20px;
    font-size: larger;
    border: 1px solid;
}

.header li {
    list-style-type: none;
    float: left;
    padding: 0 10px;
}

.header a {
    color: #000;
    text-decoration: none;
}

#big-title {
    font-size: xx-large;
    text-decoration: double;
    text-align: center;
    padding: 160px 0 20px 0;
}

#form {
    text-align: center;
    padding-bottom: 2rem;
}

#email {
    margin-bottom: 2rem;
}

#bass-image {
    height: 200px;
    width: auto;
    display: block;
    margin: 0 auto 0 auto;
    padding-bottom: 20px;
}

#bass,
#video,
#basses {
    text-align: center;
    width: 70%;
    margin-left: 15%;
    padding: 10px 0;
}

#bass-title {
    padding: 20px 0;
}

.div-text1 {
    display: block;
    text-align: left;
}

#finger-pick-debate {
    color: blue;
}

#bass-title2,
#bass-video {
    padding-bottom: 20px;
}

#basses-header {
    padding-bottom: 20px;
}

.bass-products {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product {
    width: 100%;
    height: 450px;
    border: 1px solid;
    margin: 10px;
}

.top {
    background-color: #cccccc;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    height: 90px;
    padding-top: 15px;
}

#basses1,
#basses2,
#basses3 {
    height: 200px;
    width: auto;
    margin-bottom: 30px;
}

@media (max-width: 960px) {

    .top {
        font-size: 15px;
        height: 60px;
        padding-top: 10px;
    }

    #basses1,
    #basses2,
    #basses3 {
        height: 150px;
        width: auto;
        margin-bottom: 30px;
    }
}